<div class="center hero-unit">
  <h1>Welcome to the Aample App</h1>
  <h2>
    This is the home page for the Tutorial
  </h2>
  <%= link_to "Sing up Now!", '#', class:"btn btn-large btn-primary" %>
</div>
